@charset "UTF-8";
/* CSS Document */

/* Nav bar */
nav > ul {
	
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100;
	background-color: #EC0687;
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/*Change the link color on hover*/
li a:hover {
	background-color: #555;
	color: white;
}

/*Default style for mobile*/
.grid-container-flex {
	display: flex;
	flex-direction: column;
	background-color: purple;
	font-size: 0.9 rem;
	color: white;
	margin-top: 1rem;
	height: 9em;
}

.grid-container-grid {
	display: grid;
	grid-template-columns: 20em;
	height: 8em;
	font-size: 1.1rem;
}

/*Media query for tablets*/
@media (min-width: 768px){

.grid-container-flex{
font-size: 1.3rem;
}

	.grid-container-grid {
		grid-template-columns: none;
		height: 10em;
	}
}


/* Media query for desktops*/
@media (min-width: 1024px){

.grid-container-flex{
font-size: 2rem;
}

	.grid-container-grid {
		grid-template-columns: none;
		height: 12em;
	}
}